Repository nd1982/github-unleashed-sample-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sample-app-developers, @sample-app-technical-leads, @sample-app-support, @nd1982

chore: outdated dependency
  pom.xml
Owners: @nd1982

chore: outdated dependency
  pom.xml
Owners: @nd1982

chore(main): release 0.1.1-SNAPSHOT
  pom.xml
Owners: @nd1982

chore(main): release 0.0.3
  .release-please-manifest.json
  CHANGELOG.md
  pom.xml
Owners: @sample-app-developers, @sample-app-technical-leads, @nd1982

chore(main): release 0.0.4-SNAPSHOT
  pom.xml
Owners: @nd1982

chore(main): release 0.0.1
  .release-please-manifest.json
  CHANGELOG.md
  pom.xml
Owners: @sample-app-developers, @sample-app-technical-leads, @nd1982

chore(main): release 0.0.1
  .release-please-manifest.json
  CHANGELOG.md
  pom.xml
Owners: @sample-app-developers, @sample-app-technical-leads, @nd1982

chore(main): release 0.0.2-SNAPSHOT
  pom.xml
Owners: @nd1982

chore(main): release 0.0.2-SNAPSHOT
  pom.xml
Owners: @nd1982

fix: Update header text from 'Hands-off' to 'Hands-on'
  src/main/resources/static/index.html
Owners: @sample-app-developers, @sample-app-technical-leads

fix: Update header text from 'Hands-off' to 'Hands-on'
  src/main/resources/static/index.html
Owners: @sample-app-developers, @sample-app-technical-leads

feat: Update greeting link to include Octocat name
  src/main/resources/static/index.html
Owners: @sample-app-developers, @sample-app-technical-leads

feat: Update greeting link to include Octocat name
  src/main/resources/static/index.html
Owners: @sample-app-developers, @sample-app-technical-leads

chore(main): release 0.1.0
  .release-please-manifest.json
  CHANGELOG.md
  pom.xml
Owners: @sample-app-developers, @sample-app-technical-leads, @nd1982

chore(main): release 0.1.0
  .release-please-manifest.json
  CHANGELOG.md
  pom.xml
Owners: @sample-app-developers, @sample-app-technical-leads, @nd1982

chore(main): release 0.1.1-SNAPSHOT
  pom.xml
Owners: @nd1982

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @sample-app-developers @sample-app-technical-leads

# This are the files managed by the IT Support Team
/.github/ @sample-app-support
/.czrc @sample-app-support
/commitlint.config.js @sample-app-support
/release-please-config.json @sample-app-support
/LICENSE.md @sample-app-support
/SECURITY.md @sample-app-support
pom.xml @nd1982
